<% provide(:title, 'Login') %>

<div class="col-md-10">
  <h1 class="text-center">IMAGINE BOARD</h1>
  <hr>
  <h3>Login</h3>
</div>

<div class="col-md-10">

  <%= render ('shared/errors') %>

  <%= form_for login_path, method: :post do %>
    <div class="field">
      <%= label_tag :email %>
      <%= text_field_tag :email %>
      <br/>
    </div>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
      <br/>
    </div>
    <div class="actions">
      <%= submit_tag "Login", class: 'btn btn-standard' %>
    </div>
  <% end %>

</div>
