<%= provide(:title, "New User") %>

<div class="col-md-10">
	<h1 class="text-center">IMAGINE BOARD</h1>
	<hr>
	<h3>New user</h3>
</div>

<div class="col-md-10">
	<%= render 'shared/errors' %>
	<div class="new-user">
		<%= form_for @user do |f| %>
		  <%= f.label :username%>
		  <%= f.text_field :username%>
		  <br>
		  <%= f.label :email%>
		  <%= f.text_field :email%>
		  <br>
		  <%= f.label :password%>
		  <%= f.password_field :password%>
		  <br>
		  <%= f.label :password_confirmation %>
		  <%= f.password_field :password_confirmation %>
		  <br>
		  <%= f.submit 'Submit', class: "btn btn-standard"%>
		<% end %>
	</div>
</div>
