<% provide(:title, "Index") %>

<div class="col-md-10">
	<h1 class="text-center">IMAGINE BOARD</h1>
	<hr>
	<% unless flash[:error].nil? %>
	<div class="alert alert-danger">
		<button type="button" class="close" data-dismiss="alert" >×</button>
		<strong><%= flash[:error] %></strong>
	</div>
	<% end %>
        
	<% if flash[:success] %>
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert" >×</button>
			<strong><%= flash[:success] %></strong>
		</div>
	<% end %>
	<% if signed_in? %>
	<div class="upload">
		<%= form_for @image do |form| %>
		  <p>Upload Image</p>
		  <%= form.file_field :pictures %>
		  <%= form.hidden_field :user_id, :value => current_user.id %>
		  <%= form.submit 'Submit'%>
		<% end %>
	</div>
	<% end %>
	<div class="image-board">
		<% unless @images.nil? %>
			<% @images.each do |i| %>
				<%= link_to image_tag(i.pictures.url),image_path(i.id)  %>
			<% end %>	
		<% end %>
	</div>
</div>
