<% provide(:title,"Image") %>

<div class="container" id="about-container">
	<div class="img-show pull-left text-center">
		<%= image_tag @image.pictures.url%>
		<br>
		<%= link_to "View Full Picture", @image.pictures.url, class: 'pull-left' %>
	</div>
	<div class="tags">
		<h3>Tags</h3>
		<%= render 'shared/errors' %>
		<%if signed_in? %>
			<div>
				<%= form_for @tag do |form| %>
				  <%= form.text_field :tag, placeholder: "Enter tag, maximum 20 characters", class: 'col-md-4' %>
				  <%= form.hidden_field :image_id, :value => @image.id %>
				  <%= form.submit 'Submit' %>
				<% end %>
			</div>
		<% else %>
			<p><%= link_to "Login", login_path %> or <%= link_to "sign up", new_user_path %> to create tags</p>
		<% end %>
		<% unless @image.tags.empty? %>
				<ul class="list-inline">
			<% @image.tags.each do |t| %>
					<li><%= link_to t.tag, tag_path(t.id) %><li>
			<% end %>
				<ul/>
		<% else %>
			<p>No Tags Yet</p>
		<% end %>
	</div>
	<div class="comments">
		<h3>Comments(<%= @image.comments.count %>)</h3>
		<% if signed_in? %>
			<div>
				<%= form_for @comment do |form| %>
				  <%= form.text_area :content, placeholder: "Enter comments", style:"resize:none;", class: 'col-md-4' %>
				  <%= form.hidden_field :user_id, :value => current_user.id %>
				  <%= form.hidden_field :image_id, :value => @image.id %>
				  <br>
				  <%= form.submit 'Submit' %>
				  <hr>
				<% end %>
			</div>
		<% else %>
			<p><%= link_to "Login", login_path %> or <%= link_to "sign up", new_user_path %> to create comments</p>
		<% end %>
		<div class="all-comments">
			<% @image.comments.each do |c| %>
			<div class="comment well">
				<p class="pull-right"><%= c.created_at %></p>
				<strong><p><%= link_to User.find_by(id: c.user_id).username, user_path(c.user_id) %></p></strong>
				<p><%= c.content %></p>
			</div>
			<% end %>
		</div>
	</div>
</div>